.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 75px;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo img {
  width: 50px;
  height: 30px;
}

.logo p {
 font-weight: bold;
 font-size: 1.2rem;
 margin-top: 9px;
 margin-bottom: 1px;
}

.logo span {
  font-size: 0.8rem;
}

.nav-links a {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #4b5563;
  font-weight: 500; 
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease-in-out;
}

.nav-links a:hover {
  color: #FFD700;
}